@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using PracticeNotice.Models
@model Customer
@{
    ViewData["Title"] = "목록";

}

<form asp-action="Index" asp-controller="Notices" method="get">
    <div class="col-lg-5" style="float:right;">
        <div class="input-group">
            <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" value="1" />
            <select name="searchType" class="custom-select" id="searchType">
                <option value="All">전체</option>
                <option value="Name">이름</option>
                <option value="Subject">제목</option>
            </select>
            <input type="text" name="searchString" class="form-control" value="@ViewBag.SearchString" />
            <input type="submit" value="검색" class="btn btn-sm btn-light" />
        </div>
    </div>
</form>
<table class="table mt-5">
    <thead>
        <tr>
            <th>
                번호
            </th>
            <th>
                제목
            </th>
            <th>
                이름
            </th>
            <th>
                첨부파일
            </th>
            <th>
                등록일
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Notices.Count() > 0)
        {
            int cnt = Model.Notices.Count();
            @foreach (Notice item in Model.Notices)
            {
                <tr>
                    <td>@cnt</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Idx">
                            @Html.DisplayFor(modelItem => item.Subject)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @if (item.FileName != "")
                        {
                            <a class="btn btn-sm btn-primary" href="/file/@Html.DisplayFor(modelItem => item.FileName)" target="_blank">보기</a>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegDate)
                    </td>
                </tr>
                cnt = cnt - 1;
            }
        }
        else
        {
            <tr><td colspan=5 class="text-center">존재하는 데이터가 없습니다.</td></tr>
        }
    </tbody>
</table>
<table>
    <tr>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <td>
                @if (i != Model.CurrentPageIndex)
                {
                    <a href="javascript:PagerClick(@i);">@i</a>
                }
                else
                {
                    <span>@i</span>
                }
            </td>
        }
    </tr>
</table>
<br />
<p style="float:right">
    <a asp-action="Create" class="btn btn-dark btn-sm">등록</a>
</p>
<script>
    const selectName = document.getElementById("searchType");
    const len = selectName.options.length;

    for(let i=0; i<len; i++){
        if(selectName.options[i].value == "@TempData["searchTypeData"]")
        {
            selectName.options[i].selected = true;
        }
    }

    function PagerClick(index) {
        document.getElementById("hfCurrentPageIndex").value = index;
        document.forms[0].submit();
    }
</script>